In [2]:
import pandas as pd
from dask import dataframe as dd
import numpy as np
import databricks.koalas as ks
from pyspark.sql import SparkSession

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [3]:
npidata_raw = dd.read_csv('data/npidata_pfile_20050523-20210207.csv',low_memory =False,
                         dtype={'Healthcare Provider Primary Taxonomy Switch_11': 'object',
       'NPI': 'object','Entity Type Code' :'object',
        'Healthcare Provider Primary Taxonomy Switch_12': 'object',
       'Healthcare Provider Primary Taxonomy Switch_13': 'object',
       'Healthcare Provider Primary Taxonomy Switch_14': 'object',
       'Healthcare Provider Primary Taxonomy Switch_15': 'object',
       'Healthcare Provider Taxonomy Code_11': 'object',
       'Healthcare Provider Taxonomy Code_12': 'object',
       'Healthcare Provider Taxonomy Code_13': 'object',
       'Healthcare Provider Taxonomy Code_14': 'object',
       'Healthcare Provider Taxonomy Code_15': 'object',
       'Healthcare Provider Taxonomy Group_11': 'object',
       'Healthcare Provider Taxonomy Group_12': 'object',
       'Healthcare Provider Taxonomy Group_13': 'object',
       'Healthcare Provider Taxonomy Group_14': 'object',
       'Healthcare Provider Taxonomy Group_15': 'object',
       'Other Provider Identifier Issuer_16': 'object',
       'Other Provider Identifier Issuer_17': 'object',
       'Other Provider Identifier Issuer_18': 'object',
       'Other Provider Identifier Issuer_19': 'object',
       'Other Provider Identifier Issuer_20': 'object',
       'Other Provider Identifier Issuer_21': 'object',
       'Other Provider Identifier Issuer_22': 'object',
       'Other Provider Identifier Issuer_23': 'object',
       'Other Provider Identifier Issuer_24': 'object',
       'Other Provider Identifier Issuer_25': 'object',
       'Other Provider Identifier Issuer_26': 'object',
       'Other Provider Identifier Issuer_27': 'object',
       'Other Provider Identifier Issuer_28': 'object',
       'Other Provider Identifier Issuer_29': 'object',
        'Other Provider Identifier_31':'object',
'Other Provider Identifier_32': 'object', 
'Other Provider Identifier_33': 'object', 'Other Provider Identifier_38':'object',
       'Other Provider Identifier State_16': 'object',
       'Other Provider Identifier State_17': 'object',
       'Other Provider Identifier State_18': 'object',
       'Other Provider Identifier State_19': 'object',
       'Other Provider Identifier State_20': 'object',
       'Other Provider Identifier State_21': 'object',
       'Other Provider Identifier State_22': 'object',
       'Other Provider Identifier State_23': 'object',
       'Other Provider Identifier State_24': 'object',
       'Other Provider Identifier State_25': 'object',
       'Other Provider Identifier State_26': 'object',
       'Other Provider Identifier State_27': 'object',
       'Other Provider Identifier State_28': 'object',
       'Other Provider Identifier State_29': 'object',
       'Other Provider Identifier State_30': 'object',
       'Other Provider Identifier State_31': 'object',
       'Other Provider Identifier State_32': 'object',
       'Other Provider Identifier State_33': 'object',
       'Other Provider Identifier State_34': 'object',
       'Other Provider Identifier State_35': 'object',
       'Other Provider Identifier State_36': 'object',
       'Other Provider Identifier State_37': 'object',
       'Other Provider Identifier State_38': 'object',
       'Other Provider Identifier State_39': 'object',
       'Other Provider Identifier State_40': 'object',
       'Other Provider Identifier State_41': 'object',
       'Other Provider Identifier State_42': 'object',
       'Other Provider Identifier State_43': 'object',
       'Other Provider Identifier State_44': 'object',
       'Other Provider Identifier State_45': 'object',
       'Other Provider Identifier State_46': 'object',
       'Other Provider Identifier State_47': 'object',
       'Other Provider Identifier_10': 'object',
       'Other Provider Identifier_13': 'object',
       'Other Provider Identifier_14': 'object',
       'Other Provider Identifier_15': 'object',
       'Other Provider Identifier_16': 'object',
       'Other Provider Identifier_17': 'object',
       'Other Provider Identifier_18': 'object',
       'Other Provider Identifier_19': 'object',
       'Other Provider Identifier_20': 'object',
       'Other Provider Identifier_21': 'object',
       'Other Provider Identifier_22': 'object',
       'Other Provider Identifier_23': 'object',
       'Other Provider Identifier_24': 'object',
       'Other Provider Identifier_25': 'object',
       'Other Provider Identifier_26': 'object',
       'Other Provider Identifier_27': 'object',
       'Other Provider Identifier_28': 'object',
       'Other Provider Identifier_29': 'object',
       'Other Provider Identifier_30': 'object',
       'Other Provider Identifier_34': 'object',
       'Other Provider Identifier_35': 'object',
       'Other Provider Identifier_36': 'object',
       'Other Provider Identifier_39': 'object',
       'Other Provider Identifier_40': 'object',
       'Other Provider Identifier_44': 'object',
       'Other Provider Identifier_45': 'object',
       'Provider Business Mailing Address Postal Code': 'object',
       'Provider Business Practice Location Address Telephone Number': 'object',
       'Provider Business Practice Location Address Postal Code': 'object',
       'Provider License Number State Code_11': 'object',
       'Provider License Number State Code_12': 'object',
       'Provider License Number State Code_13': 'object',
       'Provider License Number State Code_14': 'object',
       'Provider License Number State Code_15': 'object',
       'Provider License Number State Code_6': 'object',
       'Provider License Number State Code_8': 'object',
       'Provider License Number_11': 'object',
       'Provider License Number_12': 'object',
       'Provider License Number_13': 'object',
       'Provider License Number_14': 'object',
       'Provider License Number_15': 'object',
       'Provider License Number_5': 'object',
       'Provider License Number_6': 'object',
       'Provider License Number_8': 'object',
       'Provider Other Name Suffix Text': 'object',
                               'Authorized Official Telephone Number': 'object',
       'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_41': 'object',
       'Other Provider Identifier State_48': 'object',
       'Other Provider Identifier_41': 'object',
       'Other Provider Identifier_47': 'object',
       'Other Provider Identifier_48': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object',
                               'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_38': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
            'Other Provider Identifier Issuer_42': 'object',
       'Other Provider Identifier Issuer_43': 'object',
       'Other Provider Identifier Issuer_44': 'object',
       'Other Provider Identifier Issuer_45': 'object',
       'Other Provider Identifier Issuer_46': 'object',
       'Other Provider Identifier Issuer_47': 'object',
       'Other Provider Identifier Issuer_48': 'object',
       'Other Provider Identifier Issuer_49': 'object',
       'Other Provider Identifier_49': 'object','Other Provider Identifier_42': 'object',
        'Other Provider Identifier_37': 'object',
       'Other Provider Identifier_43': 'object',
       'Other Provider Identifier_46': 'object',
    'Other Provider Identifier Issuer_50': 'object',
       'Other Provider Identifier State_49': 'object',
       'Other Provider Identifier State_50': 'object',
                                'Other Provider Identifier_50': 'object'
                               }
                         )

In [4]:
npidata  = npidata_raw[['NPI','Entity Type Code','Provider Organization Name (Legal Business Name)',
                               'Provider Last Name (Legal Name)','Provider First Name',
            'Provider Middle Name','Provider Name Prefix Text','Provider Name Suffix Text',
                'Provider Credential Text','Provider First Line Business Mailing Address',
                'Provider Second Line Business Mailing Address','Provider Business Mailing Address City Name',
         'Provider Business Mailing Address State Name','Provider Business Mailing Address Postal Code']]

In [6]:
npidata.columns = npidata.columns.str.replace(' ', '')

In [10]:
npidata.head()

,NPI,EntityTypeCode,ProviderOrganizationName(LegalBusinessName),ProviderLastName(LegalName),ProviderFirstName,ProviderMiddleName,ProviderNamePrefixText,ProviderNameSuffixText,ProviderCredentialText,ProviderFirstLineBusinessMailingAddress,ProviderSecondLineBusinessMailingAddress,ProviderBusinessMailingAddressCityName,ProviderBusinessMailingAddressStateName,ProviderBusinessMailingAddressPostalCode
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243

In [11]:
npidata.compute()

,NPI,EntityTypeCode,ProviderOrganizationName(LegalBusinessName),ProviderLastName(LegalName),ProviderFirstName,ProviderMiddleName,ProviderNamePrefixText,ProviderNameSuffixText,ProviderCredentialText,ProviderFirstLineBusinessMailingAddress,ProviderSecondLineBusinessMailingAddress,ProviderBusinessMailingAddressCityName,ProviderBusinessMailingAddressStateName,ProviderBusinessMailingAddressPostalCode
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51453,1326630724,1,NaN,DELMONTE,ROXANA,NaN,NaN,NaN,MSN-APRN-FNP-C,8895 FONTAINEBLEAU BLVD APT 309,NaN,MIAMI,FL,331724443
51454,1912599325,1,NaN,KATEHIS,GIORGIOS,NaN,NaN,NaN,PHARMD,19 SHERMAN AVE,NaN,PLAINVIEW,NY,118035228
51455,1821680232,1,NaN,NGANDJO YEPNDJOUO,SARIETTE,NaN,MS.,NaN,NaN,2268 CENTURY POINT LN APT E,NaN,GLENDALE HEIGHTS,IL,601391672
51456,1730771148,1,NaN,JONES,JEANETTE,MARIE,NaN,NaN,NaN,412 1ST ST,NaN,MIDDLESEX,NJ,088461502
51457,1649862053,2,"HAPPY SPEECH AND LANGUAGE SERVICES, LLC",NaN,NaN,NaN,NaN,NaN,NaN,5218 PRAIRIE TERRACE LN,NaN,FULSHEAR,TX,774412199

In [12]:
npidata.to_csv('npidata.csv',single_file = True)

['C:/Users/matth/Downloads/hop_project/Practice_hop/npidata.csv']

In [7]:
npidata.head()

,NPI,EntityTypeCode,ProviderOrganizationName(LegalBusinessName),ProviderLastName(LegalName),ProviderFirstName,ProviderMiddleName,ProviderNamePrefixText,ProviderNameSuffixText,ProviderCredentialText,ProviderFirstLineBusinessMailingAddress,ProviderSecondLineBusinessMailingAddress,ProviderBusinessMailingAddressCityName,ProviderBusinessMailingAddressStateName,ProviderBusinessMailingAddressPostalCode
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243

In [165]:
npidata.compute()

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Mailing Address,Provider Second Line Business Mailing Address,Provider Business Mailing Address City Name,Provider Business Mailing Address State Name,Provider Business Mailing Address Postal Code
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51453,1326630724,1,NaN,DELMONTE,ROXANA,NaN,NaN,NaN,MSN-APRN-FNP-C,8895 FONTAINEBLEAU BLVD APT 309,NaN,MIAMI,FL,331724443
51454,1912599325,1,NaN,KATEHIS,GIORGIOS,NaN,NaN,NaN,PHARMD,19 SHERMAN AVE,NaN,PLAINVIEW,NY,118035228
51455,1821680232,1,NaN,NGANDJO YEPNDJOUO,SARIETTE,NaN,MS.,NaN,NaN,2268 CENTURY POINT LN APT E,NaN,GLENDALE HEIGHTS,IL,601391672
51456,1730771148,1,NaN,JONES,JEANETTE,MARIE,NaN,NaN,NaN,412 1ST ST,NaN,MIDDLESEX,NJ,088461502
51457,1649862053,2,"HAPPY SPEECH AND LANGUAGE SERVICES, LLC",NaN,NaN,NaN,NaN,NaN,NaN,5218 PRAIRIE TERRACE LN,NaN,FULSHEAR,TX,774412199

In [13]:
npi_taxonomy= npidata_raw[['NPI',
    'Healthcare Provider Primary Taxonomy Switch_1','Healthcare Provider Primary Taxonomy Switch_2',
    'Healthcare Provider Primary Taxonomy Switch_3','Healthcare Provider Primary Taxonomy Switch_4',
    'Healthcare Provider Primary Taxonomy Switch_5','Healthcare Provider Primary Taxonomy Switch_6',
    'Healthcare Provider Primary Taxonomy Switch_7','Healthcare Provider Primary Taxonomy Switch_8',
    'Healthcare Provider Primary Taxonomy Switch_9','Healthcare Provider Primary Taxonomy Switch_9',
    'Healthcare Provider Primary Taxonomy Switch_10','Healthcare Provider Primary Taxonomy Switch_11',
    'Healthcare Provider Primary Taxonomy Switch_12','Healthcare Provider Primary Taxonomy Switch_13',
    'Healthcare Provider Primary Taxonomy Switch_14','Healthcare Provider Primary Taxonomy Switch_15',
     'Healthcare Provider Taxonomy Code_1','Healthcare Provider Taxonomy Code_2',
    'Healthcare Provider Taxonomy Code_3','Healthcare Provider Taxonomy Code_4','Healthcare Provider Taxonomy Code_5',
    'Healthcare Provider Taxonomy Code_6','Healthcare Provider Taxonomy Code_7',
    'Healthcare Provider Taxonomy Code_8','Healthcare Provider Taxonomy Code_9',
    'Healthcare Provider Taxonomy Code_10','Healthcare Provider Taxonomy Code_11',
    'Healthcare Provider Taxonomy Code_12','Healthcare Provider Taxonomy Code_13',
    'Healthcare Provider Taxonomy Code_14','Healthcare Provider Taxonomy Code_15'                     
                        ]]

In [14]:
npi_taxonomy.head()

,NPI,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Primary Taxonomy Switch_5,Healthcare Provider Primary Taxonomy Switch_6,Healthcare Provider Primary Taxonomy Switch_7,Healthcare Provider Primary Taxonomy Switch_8,Healthcare Provider Primary Taxonomy Switch_9,...,Healthcare Provider Taxonomy Code_6,Healthcare Provider Taxonomy Code_7,Healthcare Provider Taxonomy Code_8,Healthcare Provider Taxonomy Code_9,Healthcare Provider Taxonomy Code_10,Healthcare Provider Taxonomy Code_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Taxonomy Code_15
0,1679576722,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1497758544,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1306849450,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215930367,N,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
npi_tax_switch= npidata_raw[['NPI',
    'Healthcare Provider Primary Taxonomy Switch_1','Healthcare Provider Primary Taxonomy Switch_2',
    'Healthcare Provider Primary Taxonomy Switch_3','Healthcare Provider Primary Taxonomy Switch_4',
    'Healthcare Provider Primary Taxonomy Switch_5','Healthcare Provider Primary Taxonomy Switch_6',
    'Healthcare Provider Primary Taxonomy Switch_7','Healthcare Provider Primary Taxonomy Switch_8',
    'Healthcare Provider Primary Taxonomy Switch_9','Healthcare Provider Primary Taxonomy Switch_9',
    'Healthcare Provider Primary Taxonomy Switch_10','Healthcare Provider Primary Taxonomy Switch_11',
    'Healthcare Provider Primary Taxonomy Switch_12','Healthcare Provider Primary Taxonomy Switch_13',
    'Healthcare Provider Primary Taxonomy Switch_14','Healthcare Provider Primary Taxonomy Switch_15' 
]]

In [16]:
dfmelt_switch = npi_tax_switch.melt(id_vars=['NPI'], var_name='primary_taxonomy_switch')

In [17]:
# Only keep the primary taxonomy
dfmelt_switch = dfmelt_switch[dfmelt_switch['value'] == 'Y']

In [18]:
dfmelt_switch=dfmelt_switch.rename(columns = {'value':'switch_value'})
dfmelt_switch.head()

          NPI                        primary_taxonomy_switch switch_value
0  1679576722  Healthcare Provider Primary Taxonomy Switch_1            Y
2  1497758544  Healthcare Provider Primary Taxonomy Switch_1            Y
3  1306849450  Healthcare Provider Primary Taxonomy Switch_1            Y
5  1023011178  Healthcare Provider Primary Taxonomy Switch_1            Y
6  1932102084  Healthcare Provider Primary Taxonomy Switch_1            Y

In [19]:
dfmelt_switch=dfmelt_switch.compute()

In [27]:
dfmelt_switch.head()

          NPI                        primary_taxonomy_switch switch_value
0  1679576722  Healthcare Provider Primary Taxonomy Switch_1            Y
2  1497758544  Healthcare Provider Primary Taxonomy Switch_1            Y
3  1306849450  Healthcare Provider Primary Taxonomy Switch_1            Y
5  1023011178  Healthcare Provider Primary Taxonomy Switch_1            Y
6  1932102084  Healthcare Provider Primary Taxonomy Switch_1            Y

In [26]:
dfmelt_switch.to_csv('taxonomy_switch.csv',single_file=True)

TypeError: to_csv() got an unexpected keyword argument 'single_file'

In [28]:
npi_tax_code =npidata_raw[[
    'NPI','Healthcare Provider Taxonomy Code_1','Healthcare Provider Taxonomy Code_2',
    'Healthcare Provider Taxonomy Code_3','Healthcare Provider Taxonomy Code_4','Healthcare Provider Taxonomy Code_5',
    'Healthcare Provider Taxonomy Code_6','Healthcare Provider Taxonomy Code_7',
    'Healthcare Provider Taxonomy Code_8','Healthcare Provider Taxonomy Code_9',
    'Healthcare Provider Taxonomy Code_10','Healthcare Provider Taxonomy Code_11',
    'Healthcare Provider Taxonomy Code_12','Healthcare Provider Taxonomy Code_13',
    'Healthcare Provider Taxonomy Code_14','Healthcare Provider Taxonomy Code_15']]

In [29]:
npi_tax_code_melt = npi_tax_code.melt(id_vars=['NPI'], var_name='primary_taxonomy_code')

In [30]:
npi_tax_code_melt=npi_tax_code_melt.rename(columns = {'value':'code_value'})

In [31]:
npi_tax_code_melt

Dask DataFrame Structure:
                    NPI primary_taxonomy_code code_value
npartitions=126
                 object                object     object
                    ...                   ...        ...
...                 ...                   ...        ...
                    ...                   ...        ...
                    ...                   ...        ...
Dask Name: rename, 504 tasks

In [33]:
npi_tax_code_melt = npi_tax_code_melt.merge(dfmelt_switch, how='inner', on='NPI')

In [34]:
npi_tax_code_melt

Dask DataFrame Structure:
                    NPI primary_taxonomy_code code_value primary_taxonomy_switch switch_value
npartitions=126
                 object                object     object                  object       object
                    ...                   ...        ...                     ...          ...
...                 ...                   ...        ...                     ...          ...
                    ...                   ...        ...                     ...          ...
                    ...                   ...        ...                     ...          ...
Dask Name: merge, 631 tasks

In [35]:
npi_tax_code_melt.compute()

,NPI,primary_taxonomy_code,code_value,primary_taxonomy_switch,switch_value
0,1679576722,Healthcare Provider Taxonomy Code_1,207X00000X,Healthcare Provider Primary Taxonomy Switch_1,Y
1,1679576722,Healthcare Provider Taxonomy Code_2,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
2,1679576722,Healthcare Provider Taxonomy Code_3,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
3,1679576722,Healthcare Provider Taxonomy Code_4,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
4,1679576722,Healthcare Provider Taxonomy Code_5,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
...,...,...,...,...,...
770695,1649862053,Healthcare Provider Taxonomy Code_11,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770696,1649862053,Healthcare Provider Taxonomy Code_12,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770697,1649862053,Healthcare Provider Taxonomy Code_13,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770698,1649862053,Healthcare Provider Taxonomy Code_14,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770699,1649862053,Healthcare Provider Taxonomy Code_15,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y

In [37]:
npi_tax_code_melt.head()

,NPI,primary_taxonomy_code,code_value,primary_taxonomy_switch,switch_value
0,1679576722,Healthcare Provider Taxonomy Code_1,207X00000X,Healthcare Provider Primary Taxonomy Switch_1,Y
1,1679576722,Healthcare Provider Taxonomy Code_2,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
2,1679576722,Healthcare Provider Taxonomy Code_3,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
3,1679576722,Healthcare Provider Taxonomy Code_4,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
4,1679576722,Healthcare Provider Taxonomy Code_5,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y

In [38]:
new_taxonomy_codes= npi_tax_code_melt[['NPI',
    'code_value']]

In [41]:
new_taxonomy_codes.dropna()

Dask DataFrame Structure:
                    NPI code_value
npartitions=126
                 object     object
                    ...        ...
...                 ...        ...
                    ...        ...
                    ...        ...
Dask Name: dropna, 883 tasks

In [44]:
df=new_taxonomy_codes.dropna()

In [47]:
df.compute()

               NPI  code_value
0       1679576722  207X00000X
15      1588667638  207RC0000X
16      1588667638  207RC0000X
30      1497758544  251G00000X
45      1306849450  2085R0202X
...            ...         ...
770640  1912599325  183500000X
770655  1821680232  163WP0808X
770670  1730771148  2255A2300X
770671  1730771148  390200000X
770685  1649862053  235Z00000X

[8079880 rows x 2 columns]

In [48]:
df.to_csv('npi_taxonomy_data.csv',single_file=True)

['C:/Users/matth/Downloads/hop_project/Practice_hop/npi_taxonomy_data.csv']

In [49]:
npidata

Dask DataFrame Structure:
                    NPI EntityTypeCode ProviderOrganizationName(LegalBusinessName) ProviderLastName(LegalName) ProviderFirstName ProviderMiddleName ProviderNamePrefixText ProviderNameSuffixText ProviderCredentialText ProviderFirstLineBusinessMailingAddress ProviderSecondLineBusinessMailingAddress ProviderBusinessMailingAddressCityName ProviderBusinessMailingAddressStateName ProviderBusinessMailingAddressPostalCode
npartitions=126
                 object         object                                      object                      object            object             object                 object                 object                 object                                  object                                   object                                 object                                  object                                   object
                    ...            ...                                         ...                         ...               ...                ...                    ...                    ...                    ...                                     ...                                      ...                                    ...                                     ...                                      ...
...                 ...            ...                                         ...                         ...               ...                ...                    ...                    ...                    ...                                     ...                                      ...                                    ...                                     ...                                      ...
                    ...            ...                                         ...                         ...               ...                ...                    ...                    ...                    ...                                     ...                                      ...                                    ...                                     ...                                      ...
                    ...            ...                                         ...                         ...               ...                ...                    ...                    ...                    ...                                     ...                                      ...                                    ...                                     ...                                      ...
Dask Name: rename, 504 tasks

In [50]:
df = df.merge(npidata, how='inner', on='NPI')

In [40]:
new_taxonomy_codes.head()

          NPI  code_value
0  1679576722  207X00000X
1  1679576722         NaN
2  1679576722         NaN
3  1679576722         NaN
4  1679576722         NaN

In [36]:
npi_tax_code_melt.to_csv('tax_code_switch.csv',single_file=True)

['C:/Users/matth/Downloads/hop_project/Practice_hop/tax_code_switch.csv']

In [213]:
npi_tax_code_melt.compute()
dfmelt_switch=dfmelt_switch.compute()

In [207]:
npi_tax_code_melt.shape

(Delayed('int-af484473-0899-4f62-bb95-26b7fa3e47f3'), 3)

In [208]:
dfmelt_switch.shape

(Delayed('int-1e60be5c-c1f3-41e7-9412-2803351bf2ab'), 3)

In [215]:
dfmelt_code = dfmelt_code.merge(dfmelt_switch, how='inner', on='NPI')

In [216]:
dfmelt_code

Dask DataFrame Structure:
                    NPI primary_taxonomy_code code_value primary_taxonomy_switch_x switch_value_x primary_taxonomy_switch_y switch_value_y primary_taxonomy_switch_x switch_value_x primary_taxonomy_switch_y switch_value_y primary_taxonomy_switch switch_value
npartitions=126
                 object                object     object                    object         object                    object         object                    object         object                    object         object                  object       object
                    ...                   ...        ...                       ...            ...                       ...            ...                       ...            ...                       ...            ...                     ...          ...
...                 ...                   ...        ...                       ...            ...                       ...            ...                       ...            ...                       ...            ...                     ...          ...
                    ...                   ...        ...                       ...            ...                       ...            ...                       ...            ...                       ...            ...                     ...          ...
                    ...                   ...        ...                       ...            ...                       ...            ...                       ...            ...                       ...            ...                     ...          ...
Dask Name: merge, 8965 tasks

In [212]:
dfmelt_switch.head()

          NPI                        primary_taxonomy_switch switch_value
0  1679576722  Healthcare Provider Primary Taxonomy Switch_1            Y
2  1497758544  Healthcare Provider Primary Taxonomy Switch_1            Y
3  1306849450  Healthcare Provider Primary Taxonomy Switch_1            Y
5  1023011178  Healthcare Provider Primary Taxonomy Switch_1            Y
6  1932102084  Healthcare Provider Primary Taxonomy Switch_1            Y

In [210]:
dfmelt_code.head()

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,71,72,73,74,75,78,79,80,81,82,83,84,85,86,151,226,230,231,234,235,238,242,246,250,254,262,266,270,274,278,282,286,290,294,295,297,298,299,302,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,73,79,80,81,82,83,84,85,86,147,151,226,227,230,231,234,235,238,242,246,250,254,255,258,262,266,271,274,278,282,286,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------------------------------------------------------+--------+----------+
| Column                                                 | Found  | Expected |
+--------------------------------------------------------+--------+----------+
| Authorized Official Telephone Number                   | object | float64  |
| Other Provider Identifier Issuer_30                    | object | float64  |
| Other Provider Identifier Issuer_31                    | object | float64  |
| Other Provider Identifier Issuer_32                    | object | float64  |
| Other Provider Identifier Issuer_33                    | object | float64  |
| Other Provider Identifier Issuer_34                    | object | float64  |
| Other Provider Identifier Issuer_35                    | object | float64  |
| Other Provider Identifier Issuer_36                    | object | float64  |
| Other Provider Identifier Issuer_37                    | object | float64  |
| Other Provider Identifier Issuer_39                    | object | float64  |
| Other Provider Identifier Issuer_40                    | object | float64  |
| Other Provider Identifier Issuer_41                    | object | float64  |
| Other Provider Identifier Issuer_42                    | object | float64  |
| Other Provider Identifier Issuer_43                    | object | float64  |
| Other Provider Identifier Issuer_44                    | object | float64  |
| Other Provider Identifier Issuer_45                    | object | float64  |
| Other Provider Identifier Issuer_46                    | object | float64  |
| Other Provider Identifier Issuer_47                    | object | float64  |
| Other Provider Identifier Issuer_48                    | object | float64  |
| Other Provider Identifier Issuer_49                    | object | float64  |
| Other Provider Identifier State_48                     | object | float64  |
| Other Provider Identifier_32                           | object | float64  |
| Other Provider Identifier_33                           | object | float64  |
| Other Provider Identifier_48                           | object | float64  |
| Other Provider Identifier_49                           | object | float64  |
| Provider Business Mailing Address Fax Number           | object | float64  |
| Provider Business Practice Location Address Fax Number | object | float64  |
+--------------------------------------------------------+--------+----------+

The following columns also raised exceptions on conversion:

- Authorized Official Telephone Number
  ValueError("could not convert string to float: '703 752 6197'")
- Other Provider Identifier Issuer_30
  ValueError("could not convert string to float: 'AWARD: WORLD LAUREATE OF U.S.A. FOR PERSONAL ACHIEVEMENTS AND DEDICATION SOCIETY'")
- Other Provider Identifier Issuer_31
  ValueError("could not convert string to float: 'NATIONAL BOARD OF OSTEOPATHIC MEDICAL EXAMINERS-DIPLOMATE STATUS NATIONALLY'")
- Other Provider Identifier Issuer_32
  ValueError("could not convert string to float: 'AMERICAN OSTEOPATHIC BOARD OF FAMILY PHYSICIANS (AOBFP) OSTEOPATHIC MANIPULATION'")
- Other Provider Identifier Issuer_33
  ValueError("could not convert string to float: 'RECOGNITION OF APPRECIATION FOR HEALTH SERVICES: AMERICAN RED CROSS NE TORNADO'")
- Other Provider Identifier Issuer_34
  ValueError("could not convert string to float: 'DOCTORS OF THE WORLD'")
- Other Provider Identifier Issuer_35
  ValueError("could not convert string to float: 'PROFESSIONAL & COMPASSIONATE MEDICAL HEALTH CARE TO OUR AMERICAN VETERANS-US VA'")
- Other Provider Identifier Issuer_36
  ValueError("could not convert string to float: 'AWARD: KEY TO SUCCESS, MEDICAL EXCELLENCE'")
- Other Provider Identifier Issuer_37
  ValueError('could not convert string to float: "DAV DISABLED AMERICAN VETERANS\' COMMANDER\'S CLUB WALL OF HONOR"')
- Other Provider Identifier Issuer_39
  ValueError('could not convert string to float: "DEAN\'S LIST FOR OUTSTANDING ACADEMIC ACHIEVEMENT: KSU KENT STATE UNIVERSITY"')
- Other Provider Identifier Issuer_40
  ValueError("could not convert string to float: 'SOCIETY OF TEACHERS OF FAMILY MEDICINE (STFM)'")
- Other Provider Identifier Issuer_41
  ValueError("could not convert string to float: 'FLIGHT FOR LIFE, STAFF FLIGHT SURGEON-EMERGENCY HELICOPTER RESCUES'")
- Other Provider Identifier Issuer_42
  ValueError('could not convert string to float: "AWARD: LIFE MEMEBER, NATIONAL REGISTRY OF WHO\'S WHO"')
- Other Provider Identifier Issuer_43
  ValueError('could not convert string to float: "CONSUMERS\' RESEARCH COUNSIL OF AMERICA-AMERICA\'S TOP FAMILY PHYSICIANS"')
- Other Provider Identifier Issuer_44
  ValueError("could not convert string to float: 'AMERICAN OSTEOPATHIC BOARD OF FAMILY PHYSICIANS USA BOARD CERTIFICATIONS'")
- Other Provider Identifier Issuer_45
  ValueError("could not convert string to float: 'AMERICAN ACADEMY OF FAMILY PHYSICIANS (AAFP)'")
- Other Provider Identifier Issuer_46
  ValueError("could not convert string to float: 'CERTIFIED PHYSICIAN EXECUTIVE'")
- Other Provider Identifier Issuer_47
  ValueError("could not convert string to float: 'VICE PRESIDENT, CLEVELAND SOCIETY OF CLINICAL HYPNOSIS (C.S.C.H.)'")
- Other Provider Identifier Issuer_48
  ValueError("could not convert string to float: 'STATE OF OHIO MEDICAL LICENSE # 34-006816-R'")
- Other Provider Identifier Issuer_49
  ValueError("could not convert string to float: 'AWARD: KEY OF SUCCESS, PROFESSIONAL PERFORMANCE'")
- Other Provider Identifier State_48
  ValueError("could not convert string to float: 'OH'")
- Other Provider Identifier_32
  ValueError("could not convert string to float: '1598120-01'")
- Other Provider Identifier_33
  ValueError("could not convert string to float: '200061970A'")
- Other Provider Identifier_48
  ValueError("could not convert string to float: '34-006816-R'")
- Other Provider Identifier_49
  ValueError("could not convert string to float: 'ABI'")
- Provider Business Mailing Address Fax Number
  ValueError("could not convert string to float: '82-031-869-4791'")
- Provider Business Practice Location Address Fax Number
  ValueError("could not convert string to float: '011-822-7917-8110'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'Authorized Official Telephone Number': 'object',
       'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
       'Other Provider Identifier Issuer_41': 'object',
       'Other Provider Identifier Issuer_42': 'object',
       'Other Provider Identifier Issuer_43': 'object',
       'Other Provider Identifier Issuer_44': 'object',
       'Other Provider Identifier Issuer_45': 'object',
       'Other Provider Identifier Issuer_46': 'object',
       'Other Provider Identifier Issuer_47': 'object',
       'Other Provider Identifier Issuer_48': 'object',
       'Other Provider Identifier Issuer_49': 'object',
       'Other Provider Identifier State_48': 'object',
       'Other Provider Identifier_32': 'object',
       'Other Provider Identifier_33': 'object',
       'Other Provider Identifier_48': 'object',
       'Other Provider Identifier_49': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object'}

to the call to `read_csv`/`read_table`.

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,75,78,79,80,81,82,83,84,85,86,151,226,230,234,238,242,246,250,254,258,262,266,267,270,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,72,79,80,81,82,83,84,85,86,151,165,226,227,230,231,234,238,242,246,250,254,258,262,266,319,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (79,80,81,82,83,84,85,86,147,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,80,81,84,85,135,226,227,230,231,234,235,238,242,246,250,254,258,262,266,267,270,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,80,83,84,85,86,151,226,230,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (72,80,81,84,85,151,165,226,227,230,231,234,255,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

In [163]:
dfmelt_code.head()

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,75,78,79,80,81,82,83,84,85,86,151,226,230,234,238,242,246,250,254,258,262,266,267,270,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (79,80,81,82,83,84,85,86,147,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,71,72,73,74,75,78,79,80,81,82,83,84,85,86,151,226,230,231,234,235,238,242,246,250,254,262,266,270,274,278,282,286,290,294,295,297,298,299,302,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,73,79,80,81,82,83,84,85,86,147,151,226,227,230,231,234,235,238,242,246,250,254,255,258,262,266,271,274,278,282,286,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,72,79,80,81,82,83,84,85,86,151,165,226,227,230,231,234,238,242,246,250,254,258,262,266,319,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,80,81,84,85,135,226,227,230,231,234,235,238,242,246,250,254,258,262,266,267,270,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (72,80,81,84,85,151,165,226,227,230,231,234,255,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------------------------------------------------------+--------+----------+
| Column                                                 | Found  | Expected |
+--------------------------------------------------------+--------+----------+
| Authorized Official Telephone Number                   | object | float64  |
| Other Provider Identifier Issuer_30                    | object | float64  |
| Other Provider Identifier Issuer_31                    | object | float64  |
| Other Provider Identifier Issuer_32                    | object | float64  |
| Other Provider Identifier Issuer_33                    | object | float64  |
| Other Provider Identifier Issuer_34                    | object | float64  |
| Other Provider Identifier Issuer_35                    | object | float64  |
| Other Provider Identifier Issuer_36                    | object | float64  |
| Other Provider Identifier Issuer_37                    | object | float64  |
| Other Provider Identifier Issuer_38                    | object | float64  |
| Other Provider Identifier Issuer_39                    | object | float64  |
| Other Provider Identifier Issuer_40                    | object | float64  |
| Other Provider Identifier Issuer_41                    | object | float64  |
| Other Provider Identifier_41                           | object | float64  |
| Provider Business Mailing Address Fax Number           | object | float64  |
| Provider Business Practice Location Address Fax Number | object | float64  |
+--------------------------------------------------------+--------+----------+

The following columns also raised exceptions on conversion:

- Authorized Official Telephone Number
  ValueError("could not convert string to float: '011-862-8821'")
- Other Provider Identifier Issuer_30
  ValueError("could not convert string to float: 'CARESOURCE'")
- Other Provider Identifier Issuer_31
  ValueError("could not convert string to float: 'AETNA'")
- Other Provider Identifier Issuer_32
  ValueError("could not convert string to float: 'TRICARE'")
- Other Provider Identifier Issuer_33
  ValueError("could not convert string to float: 'FIRST HEALTH'")
- Other Provider Identifier Issuer_34
  ValueError("could not convert string to float: 'TPA'")
- Other Provider Identifier Issuer_35
  ValueError("could not convert string to float: 'BUCKEYE'")
- Other Provider Identifier Issuer_36
  ValueError("could not convert string to float: 'RAILROAD MEDICARE'")
- Other Provider Identifier Issuer_37
  ValueError("could not convert string to float: 'FLORIDA HEALTH CARE PLANS'")
- Other Provider Identifier Issuer_38
  ValueError("could not convert string to float: 'GOLDEN RULE'")
- Other Provider Identifier Issuer_39
  ValueError("could not convert string to float: 'STAR ADMINISTRATION SERVICES'")
- Other Provider Identifier Issuer_40
  ValueError("could not convert string to float: 'UNICARE'")
- Other Provider Identifier Issuer_41
  ValueError("could not convert string to float: 'APEX'")
- Other Provider Identifier_41
  ValueError("could not convert string to float: 'R52867'")
- Provider Business Mailing Address Fax Number
  ValueError("could not convert string to float: '49+6221-17-2941'")
- Provider Business Practice Location Address Fax Number
  ValueError("could not convert string to float: '49-6221-172570'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'Authorized Official Telephone Number': 'object',
       'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_38': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
       'Other Provider Identifier Issuer_41': 'object',
       'Other Provider Identifier_41': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object'}

to the call to `read_csv`/`read_table`.

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,80,83,84,85,86,151,226,230,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

In [151]:
dfmelt_code.head(5)

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,71,72,73,74,75,78,79,80,81,82,83,84,85,86,151,226,230,231,234,235,238,242,246,250,254,262,266,270,274,278,282,286,290,294,295,297,298,299,302,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,80,81,84,85,135,226,227,230,231,234,235,238,242,246,250,254,258,262,266,267,270,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,72,79,80,81,82,83,84,85,86,151,165,226,227,230,231,234,238,242,246,250,254,258,262,266,319,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,73,79,80,81,82,83,84,85,86,147,151,226,227,230,231,234,235,238,242,246,250,254,255,258,262,266,271,274,278,282,286,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (79,80,81,82,83,84,85,86,147,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,75,78,79,80,81,82,83,84,85,86,151,226,230,234,238,242,246,250,254,258,262,266,267,270,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (72,80,81,84,85,151,165,226,227,230,231,234,255,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,80,83,84,85,86,151,226,230,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------------------------------------------------------+--------+----------+
| Column                                                 | Found  | Expected |
+--------------------------------------------------------+--------+----------+
| Authorized Official Telephone Number                   | object | float64  |
| Other Provider Identifier Issuer_30                    | object | float64  |
| Other Provider Identifier Issuer_31                    | object | float64  |
| Other Provider Identifier Issuer_32                    | object | float64  |
| Other Provider Identifier Issuer_33                    | object | float64  |
| Other Provider Identifier Issuer_34                    | object | float64  |
| Other Provider Identifier Issuer_35                    | object | float64  |
| Other Provider Identifier Issuer_36                    | object | float64  |
| Other Provider Identifier Issuer_37                    | object | float64  |
| Other Provider Identifier Issuer_39                    | object | float64  |
| Other Provider Identifier Issuer_40                    | object | float64  |
| Other Provider Identifier Issuer_41                    | object | float64  |
| Other Provider Identifier Issuer_42                    | object | float64  |
| Other Provider Identifier Issuer_43                    | object | float64  |
| Other Provider Identifier Issuer_44                    | object | float64  |
| Other Provider Identifier Issuer_45                    | object | float64  |
| Other Provider Identifier Issuer_46                    | object | float64  |
| Other Provider Identifier Issuer_47                    | object | float64  |
| Other Provider Identifier Issuer_48                    | object | float64  |
| Other Provider Identifier Issuer_49                    | object | float64  |
| Other Provider Identifier State_48                     | object | float64  |
| Other Provider Identifier_32                           | object | float64  |
| Other Provider Identifier_33                           | object | float64  |
| Other Provider Identifier_48                           | object | float64  |
| Other Provider Identifier_49                           | object | float64  |
| Provider Business Mailing Address Fax Number           | object | float64  |
| Provider Business Practice Location Address Fax Number | object | float64  |
+--------------------------------------------------------+--------+----------+

The following columns also raised exceptions on conversion:

- Authorized Official Telephone Number
  ValueError("could not convert string to float: '703 752 6197'")
- Other Provider Identifier Issuer_30
  ValueError("could not convert string to float: 'AWARD: WORLD LAUREATE OF U.S.A. FOR PERSONAL ACHIEVEMENTS AND DEDICATION SOCIETY'")
- Other Provider Identifier Issuer_31
  ValueError("could not convert string to float: 'NATIONAL BOARD OF OSTEOPATHIC MEDICAL EXAMINERS-DIPLOMATE STATUS NATIONALLY'")
- Other Provider Identifier Issuer_32
  ValueError("could not convert string to float: 'AMERICAN OSTEOPATHIC BOARD OF FAMILY PHYSICIANS (AOBFP) OSTEOPATHIC MANIPULATION'")
- Other Provider Identifier Issuer_33
  ValueError("could not convert string to float: 'RECOGNITION OF APPRECIATION FOR HEALTH SERVICES: AMERICAN RED CROSS NE TORNADO'")
- Other Provider Identifier Issuer_34
  ValueError("could not convert string to float: 'DOCTORS OF THE WORLD'")
- Other Provider Identifier Issuer_35
  ValueError("could not convert string to float: 'PROFESSIONAL & COMPASSIONATE MEDICAL HEALTH CARE TO OUR AMERICAN VETERANS-US VA'")
- Other Provider Identifier Issuer_36
  ValueError("could not convert string to float: 'AWARD: KEY TO SUCCESS, MEDICAL EXCELLENCE'")
- Other Provider Identifier Issuer_37
  ValueError('could not convert string to float: "DAV DISABLED AMERICAN VETERANS\' COMMANDER\'S CLUB WALL OF HONOR"')
- Other Provider Identifier Issuer_39
  ValueError('could not convert string to float: "DEAN\'S LIST FOR OUTSTANDING ACADEMIC ACHIEVEMENT: KSU KENT STATE UNIVERSITY"')
- Other Provider Identifier Issuer_40
  ValueError("could not convert string to float: 'SOCIETY OF TEACHERS OF FAMILY MEDICINE (STFM)'")
- Other Provider Identifier Issuer_41
  ValueError("could not convert string to float: 'FLIGHT FOR LIFE, STAFF FLIGHT SURGEON-EMERGENCY HELICOPTER RESCUES'")
- Other Provider Identifier Issuer_42
  ValueError('could not convert string to float: "AWARD: LIFE MEMEBER, NATIONAL REGISTRY OF WHO\'S WHO"')
- Other Provider Identifier Issuer_43
  ValueError('could not convert string to float: "CONSUMERS\' RESEARCH COUNSIL OF AMERICA-AMERICA\'S TOP FAMILY PHYSICIANS"')
- Other Provider Identifier Issuer_44
  ValueError("could not convert string to float: 'AMERICAN OSTEOPATHIC BOARD OF FAMILY PHYSICIANS USA BOARD CERTIFICATIONS'")
- Other Provider Identifier Issuer_45
  ValueError("could not convert string to float: 'AMERICAN ACADEMY OF FAMILY PHYSICIANS (AAFP)'")
- Other Provider Identifier Issuer_46
  ValueError("could not convert string to float: 'CERTIFIED PHYSICIAN EXECUTIVE'")
- Other Provider Identifier Issuer_47
  ValueError("could not convert string to float: 'VICE PRESIDENT, CLEVELAND SOCIETY OF CLINICAL HYPNOSIS (C.S.C.H.)'")
- Other Provider Identifier Issuer_48
  ValueError("could not convert string to float: 'STATE OF OHIO MEDICAL LICENSE # 34-006816-R'")
- Other Provider Identifier Issuer_49
  ValueError("could not convert string to float: 'AWARD: KEY OF SUCCESS, PROFESSIONAL PERFORMANCE'")
- Other Provider Identifier State_48
  ValueError("could not convert string to float: 'OH'")
- Other Provider Identifier_32
  ValueError("could not convert string to float: '1598120-01'")
- Other Provider Identifier_33
  ValueError("could not convert string to float: '200061970A'")
- Other Provider Identifier_48
  ValueError("could not convert string to float: '34-006816-R'")
- Other Provider Identifier_49
  ValueError("could not convert string to float: 'ABI'")
- Provider Business Mailing Address Fax Number
  ValueError("could not convert string to float: '82-031-869-4791'")
- Provider Business Practice Location Address Fax Number
  ValueError("could not convert string to float: '011-822-7917-8110'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'Authorized Official Telephone Number': 'object',
       'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
       'Other Provider Identifier Issuer_41': 'object',
       'Other Provider Identifier Issuer_42': 'object',
       'Other Provider Identifier Issuer_43': 'object',
       'Other Provider Identifier Issuer_44': 'object',
       'Other Provider Identifier Issuer_45': 'object',
       'Other Provider Identifier Issuer_46': 'object',
       'Other Provider Identifier Issuer_47': 'object',
       'Other Provider Identifier Issuer_48': 'object',
       'Other Provider Identifier Issuer_49': 'object',
       'Other Provider Identifier State_48': 'object',
       'Other Provider Identifier_32': 'object',
       'Other Provider Identifier_33': 'object',
       'Other Provider Identifier_48': 'object',
       'Other Provider Identifier_49': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object'}

to the call to `read_csv`/`read_table`.

In [21]:
npidata = npidata.merge(
    dfmelt_code,
    how='left',
    on='NPI'
)

In [22]:
dfmelt_code.head(5)

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (79,80,81,82,83,84,85,86,147,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,72,79,80,81,82,83,84,85,86,151,165,226,227,230,231,234,238,242,246,250,254,258,262,266,319,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,71,72,73,74,75,78,79,80,81,82,83,84,85,86,151,226,230,231,234,235,238,242,246,250,254,262,266,270,274,278,282,286,290,294,295,297,298,299,302,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (72,80,81,84,85,151,165,226,227,230,231,234,255,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,73,79,80,81,82,83,84,85,86,147,151,226,227,230,231,234,235,238,242,246,250,254,255,258,262,266,271,274,278,282,286,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,75,78,79,80,81,82,83,84,85,86,151,226,230,234,238,242,246,250,254,258,262,266,267,270,319,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))
C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,80,81,84,85,135,226,227,230,231,234,235,238,242,246,250,254,258,262,266,267,270,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+--------------------------------------------------------+--------+----------+
| Column                                                 | Found  | Expected |
+--------------------------------------------------------+--------+----------+
| Other Provider Identifier Issuer_30                    | object | float64  |
| Other Provider Identifier Issuer_31                    | object | float64  |
| Other Provider Identifier Issuer_32                    | object | float64  |
| Other Provider Identifier Issuer_33                    | object | float64  |
| Other Provider Identifier Issuer_34                    | object | float64  |
| Other Provider Identifier Issuer_35                    | object | float64  |
| Other Provider Identifier Issuer_36                    | object | float64  |
| Other Provider Identifier Issuer_37                    | object | float64  |
| Other Provider Identifier Issuer_38                    | object | float64  |
| Other Provider Identifier Issuer_39                    | object | float64  |
| Other Provider Identifier Issuer_40                    | object | float64  |
| Other Provider Identifier_31                           | object | float64  |
| Other Provider Identifier_32                           | object | float64  |
| Provider Business Mailing Address Fax Number           | object | float64  |
| Provider Business Practice Location Address Fax Number | object | float64  |
+--------------------------------------------------------+--------+----------+

The following columns also raised exceptions on conversion:

- Other Provider Identifier Issuer_30
  ValueError("could not convert string to float: 'LICENSE'")
- Other Provider Identifier Issuer_31
  ValueError("could not convert string to float: 'ADVANTICA EYECARE'")
- Other Provider Identifier Issuer_32
  ValueError("could not convert string to float: 'AMERICAN REPUBLIC'")
- Other Provider Identifier Issuer_33
  ValueError("could not convert string to float: 'PIRELLI ARMSTRONG'")
- Other Provider Identifier Issuer_34
  ValueError("could not convert string to float: 'AMERICARE'")
- Other Provider Identifier Issuer_35
  ValueError("could not convert string to float: 'MIDLANDS CHOICE'")
- Other Provider Identifier Issuer_36
  ValueError("could not convert string to float: 'ACCOUNTABLE HEALTH'")
- Other Provider Identifier Issuer_37
  ValueError("could not convert string to float: 'WELLMARK BLUE SHIELD'")
- Other Provider Identifier Issuer_38
  ValueError("could not convert string to float: 'GLACERS LOCAL #558'")
- Other Provider Identifier Issuer_39
  ValueError("could not convert string to float: 'UNITED AMERICAN INSURANCE COMPANY'")
- Other Provider Identifier Issuer_40
  ValueError("could not convert string to float: 'COVENTRY ADVANTRA'")
- Other Provider Identifier_31
  ValueError("could not convert string to float: 'XHSP42759'")
- Other Provider Identifier_32
  ValueError("could not convert string to float: 'OEG001239'")
- Provider Business Mailing Address Fax Number
  ValueError("could not convert string to float: '000226-8802'")
- Provider Business Practice Location Address Fax Number
  ValueError("could not convert string to float: '000226-8802'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_38': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
       'Other Provider Identifier_31': 'object',
       'Other Provider Identifier_32': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object'}

to the call to `read_csv`/`read_table`.

C:\Users\matth\anaconda3\lib\multiprocessing\pool.py:125: DtypeWarning: Columns (27,35,40,46,72,80,83,84,85,86,151,226,230,320,321,322,323) have mixed types.Specify dtype option on import or set low_memory=False.
  result = (True, func(*args, **kwds))

In [38]:
# Pivot from widet to long format
npi_taxonomy = pd.wide_to_long(
    npi_taxonomy,
    stubnames=['Healthcare Provider Taxonomy Code', 'Healthcare Provider Primary Taxonomy Switch'],
    i=['NPI'], 
    j='primary_taxonomy_index',
    sep="_"
)

# Only keep the primary taxonomy
npi_taxonomy = npi_taxonomy[npi_taxonomy['Healthcare Provider Primary Taxonomy Switch'] == 'Y']

# Housekeeping
npi_taxonomy = npi_taxonomy.reset_index()\
    .drop(columns=['primary_taxonomy_index', 'Healthcare Provider Primary Taxonomy Switch'])\
    .rename({ 'Healthcare Provider Taxonomy Code': 'primary_taxonomy' }, axis=1)

npi_taxonomy

AttributeError: 'DataFrame' object has no attribute 'duplicated'

In [5]:
# Only keep the primary taxonomy
npi_taxonomy = npi_taxonomy[npi_taxonomy['Healthcare Provider Primary Taxonomy Switch'] == 'Y']

KeyError: 'Healthcare Provider Primary Taxonomy Switch'

In [10]:
npi_taxonomy.melt(id_vars=['NPI'], var_name='primary_taxonomy_index')

Dask DataFrame Structure:
                   NPI primary_taxonomy_index   value
npartitions=126
                 int64                 object  object
                   ...                    ...     ...
...                ...                    ...     ...
                   ...                    ...     ...
                   ...                    ...     ...
Dask Name: melt, 378 tasks